<html>
    <body>
        <h1>New Message</h1>
        <form method="POST" action="/">
            <label for="name">Author: </label>
            <input type="text" id="name" name="name" required minlength="1" />
            <label for="message">Message: </label>
            <input type="text" id="message" name="message" minlength="1" />
            <input type="submit" value="Send">
        </form>
    </body>
</html>